<div class="centrada">

<h2>Crear etiqueta</h2>
<div>
  <button mat-raised-button (click)="returnBack()"><img src="../assets/back_arrow.png"/>Volver a Lista de Etiquetas</button>
</div>

  <div class="create-tag-page">

        <div class="form">
              <form class="register-form" [formGroup]="registerForm" (submit)="addEtiqueta()">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre de etiqueta</mat-label>
                    <input matInput placeholder="Nombre" formControlName="name" [(ngModel)]="name"/>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit">Crear</button>


            </form>
      </div>
  </div>
</div>
