table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.mat-create {
  background-color: rgb(7, 218, 255);
  color: #fff;
}

.mat-delete {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

.mat-update {
  background-color: rgb(100, 163, 98);
  color: #fff;
}

.mat-toolbar {
  position: relative;
  left: 90px;
}

.centrada{
  position: relative;
  left: 100px;
}

button.menu-button{
  position: relative;
  left: 600px;
}
