table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}


.mat-create {
  background-color: rgb(32, 135, 167);
  color: #fff;
}
