<div>
  <h1 style="color: rgb(46, 56, 104); font-style: oblique;">
    Pagina Principal
  </h1>

    <div style="text-align: end;">
      <button mat-raised-button color="warn" (click)="logout()">Logout</button>
    </div>

    <div>
     <!-- Navigate to Contacts -->
      <button mat-raised-button color="primary" routerLink='/expertos'>Ir a Expertos</button>
    </div>

    <div>
      <!-- Navigate to Todos -->
      <button mat-raised-button color="primary" routerLink='/etiquetas'>ir a Etiquetas</button>
    </div>



  </div>
