table {
  width: 100%;
  position: absolute;
  left: 150px;

}

.mat-form-field {
  font-size: 5px;
  width: 150%;
}

td, th {
  width: 10%;
}

.mat-paginator{
  width: 50%;
  position: relative;
  left: 150px;
  bottom: 550px;
}


.mat-detail {
  background-color: green;
  color: #fff;
}

.mat-expert {
  background-color: rgb(82, 168, 202);
  color: #fff;
}

.mat-toolbar {
  position: relative;
  left: 90px;
}

button.menu-button{
  position: relative;
  left: 1600px;
}
