table {
  width: 100%;
  position: absolute;
  left: 150px;

}

.mat-form-field {
  font-size: 5px;
  width: 150%;
}

td, th {
  width: 10%;
}

.mat-detail {
  background-color: green;
  color: #fff;
}

.mat-expert {
  background-color: rgb(82, 168, 202);
  color: #fff;
}

.mat-toolbar {
  position: relative;
  left: 90px;
}


.paginacion{
  position: relative;
  top:750px;
  left: 100px;
}

button.menu-button{
  position: relative;
  left: 1350px;
}

 .mat-form-field{
  font-size: 15px;
}

.filters{
left: 100px;
position: relative;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
margin-bottom: 15px;
border-right-width: 5px;
}



.centrada{
  position: relative;
  left: 100px;
}
