<h3 style="text-align: left;"> Lista Expertos</h3>

<div class="mat-elevation-z8">

  <div>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput (keyup)="filtrarNombre($event)" placeholder="name" #input>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <select matNativeControl (change)="filtrarEstado($event)">Estado
      <option value="validado">Validado</option>
      <option value="pendiente">Pendiente</option>
      <option value="descartado">Descartado</option>
    </select>
  </mat-form-field>
</div>

  <table mat-table [dataSource]="experts" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>

      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</th>
    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
  </ng-container>

    <!-- surname Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.surname}} </td>
    </ng-container>

    <!-- nif Column -->
    <ng-container matColumnDef="nif">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> NIF </th>
      <td mat-cell *matCellDef="let row" [style.color]="row"> {{row.nif}} </td>
    </ng-container>

    <!-- cursos Column -->
    <ng-container matColumnDef="cursos">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Cursos </th>
      <td mat-cell *matCellDef="let row" [style.color]="row"> {{row.cursos}} </td>
    </ng-container>

    <!-- disponibilidad Column -->
    <ng-container matColumnDef="disponibilidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Disponibilidad </th>
      <td mat-cell *matCellDef="let row" [style.color]="row"> {{row.disponibilidad}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let row" [style.color]="row"> {{row.estado}} </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Tareas Column -->
      <ng-container matColumnDef="etiquetas" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tareas </th>
        <td mat-cell *matCellDef="let row" [style.color]="row"  > {{row.tags[0].name}} </td>
      </ng-container>
  <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
  </table>

  <mat-paginator
    (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageSizeOptions]="pageSizeOptions"
    [pageIndex]="pageIndex">
  </mat-paginator>

</div>
