<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <div class="sidebar">  <img style="width: 122.03px; height: 30.75px; left: 52; top: 12.33;"
      src="../assets/experts.png"/>

      <a class="nav-link" [routerLink]="['/expertos']"><img src="../assets/expert_logo.png"/>Expertos </a>
      <a class="nav-link" [routerLink]="['/etiquetas']"><img src="../assets/etiqueta_logo.png"/>Etiquetas </a>
  </div>
  </mat-drawer>
  <mat-drawer-content class="content-container">

    <router-outlet *ngIf="mostrarNav()">

    </router-outlet>

  </mat-drawer-content>
</mat-drawer-container>
