
<div style="text-align:center">
  <h2>Informacion del Experto: {{expert.id}} </h2>

  <div>
    <button mat-raised-button color="primary" (click)="returnBack()">Volver a Lista de Expertos</button>
  </div>

  <h2>Nombre: {{expert.name}}  {{expert.surname}} </h2>
  <h3>NIF: {{expert.nif}}</h3>
  <h5>Fecha Creacion: {{expert.createdDate}}</h5>
  <h5>Ultima Actualizacion: {{expert.last_updated}}</h5>




<div>
<a>Datos generales</a>

<h3>
  Disponibilidad :{{expert.disponibilidad}}
  Estado: {{expert.estado}}
  Valoracion: {{expert.puntuacion}}
</h3>

</div>



<div style="position: absolute; left: 350px;">
  <a>Datos Contacto</a>

  <li> Telefono: {{expert.telefono}}</li>
 <li> Correo: {{expert.correo}}</li>
 <li> Direccion: {{expert.direccion}}</li>

</div>

<div style="position: absolute; left: 600px;">
<a>Etiquetas</a>
<table>
  <tr *ngFor="let tag of tags">
    <td>
        <li>    {{tag.name}}
        <button mat-raised-button mat-button color="warn" (click)="borrarTareaExperto(tag.id)">X</button>
      </li>
  </td>
    </tr>
</table></div>

    <h3>Lista de Etiquetas</h3>

  <div class="custom-select">

    <select>
      <option *ngFor="let listaTag of Listatags">{{listaTag.name}}</option>
    </select>
  </div>

  </div>
