
<div style="text-align:center">
  <h2>Informacion del Experto: {{expert.id}} </h2>

  <div>
    <button mat-raised-button color="primary" (click)="returnBack()">Volver a Lista de Expertos</button>
  </div>

  <h2>Nombre: {{expert.name}}  {{expert.surname}} </h2>

  <h3>NIF: {{expert.nif}}</h3>
  <input matInput name="nif" placeholder="nif "[(ngModel)]="expert.nif" />

  <h5>Fecha Creacion: {{expert.createdDate}}</h5>
  <h5>Ultima Actualizacion: {{expert.last_updated}}</h5>




<div>
<a>Datos generales</a>

<h3>
  Disponibilidad :{{expert.disponibilidad}}
  Estado: {{expert.estado}}
  Valoracion: {{expert.puntuacion}}
</h3>

</div>

<button type="button" disabled mat-raised-button mat-button color="primary" (click)="crearEtiquetaExperto(listatagsSelected)">+</button>


<div style="position: absolute; left: 350px;">
  <a>Datos Contacto</a>

  <li> Telefono: {{expert.telefono}}</li>
 <li> Correo: {{expert.correo}}</li>
 <li> Direccion: {{expert.direccion}}</li>

</div>

<div style="position: absolute; left: 600px;">
<a>Etiquetas</a>
<table>
  <tr *ngFor="let tag of tags">
    <td>
        <li>    {{tag.name}}
        <button type="button" disabled mat-raised-button mat-button color="warn" (click)="borrarEtiquetaxperto(tag)">-</button>
      </li>
  </td>
    </tr>
</table></div>

  <form>
    <mat-form-field appearance="fill">
      <mat-label>Etiquetas Disponibles</mat-label>
      <mat-select [(ngModel)]="listatagsSelected" name="listaTag">
        <mat-option *ngFor="let listaTag of Listatags" [value]="listaTag.name">
          {{listaTag.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  </div>


  <form class="register-form" [formGroup]="registerForm" (submit)="register()">
    <mat-form-field class="example-full-width">
      <mat-label>{{expert.name}}</mat-label>
      <input matInput placeholder="new name" formControlName="name" />
    </mat-form-field>
      <div>
        <mat-form-field class="example-full-width">
          <mat-label>Introduce tu nif</mat-label>
          <input matInput placeholder="nif" formControlName="nif" />
        </mat-form-field>
      </div>
    <button mat-raised-button color="primary" type="submit">modificar</button>

</form>
