.mat-toolbar {
  position: relative;
  left: 90px;
}

.centrada{
  position: relative;
  left: 200px;
}

button.menu-button{
  position: relative;
  left: 1600px;
}


button.create-button{
background: #D9FFE1;
color: #999999;
;
border-radius: 5px;
position: static;
width: 1005px;
height: 59px;
left: 60px;
top: 887px;

}

.img{
  position: absolute;
left: 6.24%;
right: 6.25%;
top: 9.38%;
bottom: 15.62%;
}
