<mat-toolbar>
  <span class="example-spacer">Lista de Expertos
    <h2>Crear experto</h2>
  </span>
  <button mat-raised-button color="primary" class="menu-button" (click)="returnBack()">Volver a Home</button>

</mat-toolbar>



 <!--  <div class="create-tag-page">

        <div class="form">
            <form class="register-form" [formGroup]="registerForm" (submit)="addExperto()">
                  <mat-form-field class="example-full-width">
                    <mat-label>Introduce el Nombre</mat-label>
                    <input matInput placeholder="Nombre" formControlName="nombre" [(ngModel)]="nombre"/>
                  </mat-form-field>
                  <button mat-raised-button color="primary" type="submit">Crear</button>
            </form>
      </div>
  </div>
 -->


 <div class="centrada">

    <form class="register-form" [formGroup]="registerForm" (submit)="addExperto()">

      <p>
          <mat-form-field appearance="standard">
            <input matInput placeholder="nombre" formControlName="nombre" />
          </mat-form-field>
        NIF:
          <mat-form-field appearance="standard">
            <input matInput placeholder="nif" formControlName="nif" />
          </mat-form-field>
        </p>

      <p>Disponibilidad:
          <mat-form-field appearance="standard">
            <select matNativeControl #select formControlName="disponibilidad">
              <option value="Inmediata">Inmediata</option>
              <option value="Mañanas">Mañanas</option>
              <option value="Tardes">Tardes</option>
              <option value="Completa">Completa</option>
            </select>              </mat-form-field>

          Estado:
          <mat-form-field appearance="standard">
            <select matNativeControl #select formControlName="estado">
              <option value="validado">Validado</option>
              <option value="pendiente">Pendiente</option>
              <option value="descartado">Descartado</option>
            </select>
          </mat-form-field>

          Valoracion:
          <mat-form-field appearance="standard">
            <input matInput placeholder="valoracion" formControlName="valoracion" />
          </mat-form-field>
        </p>

          <a>Datos Contacto</a>

          <p>Telefono:
          <mat-form-field appearance="standard">
            <input matInput placeholder="telefono" formControlName="telefono" />
          </mat-form-field>

          Correo:
          <mat-form-field appearance="standard">
            <input matInput placeholder="correo" formControlName="correo" />
          </mat-form-field>

          Direccion:
          <mat-form-field appearance="standard">
            <input matInput placeholder="direccion" formControlName="direccion" />
          </mat-form-field>
        </p>
          <button mat-raised-button color="primary" type="submit">Crear Experto</button>
        </form>
  </div>
