<div class="centrada">
<mat-toolbar>
  <span>
    <a href="/expertos">
      <img src="../assets/back_arrow.png"/>
      Volver a lista de Expertos</a>

  <!-- <button mat-raised-button (click)="returnBack()">Volver a Home</button> -->

    <h2>Crear experto</h2>
  </span>

</mat-toolbar>

    <form class="register-form" [formGroup]="registerForm" (submit)="addExperto()">

      <p>
        Nombre:
          <mat-form-field appearance="outline">
            <input matInput placeholder="nombre" formControlName="nombre" />
          </mat-form-field>
        NIF:
          <mat-form-field appearance="outline">
            <input matInput placeholder="nif" formControlName="nif" />
          </mat-form-field>
        </p>

      <p>Disponibilidad:
          <mat-form-field appearance="outline">
            <select matNativeControl #select formControlName="disponibilidad">
              <option value="Inmediata">Inmediata</option>
              <option value="Mañanas">Mañanas</option>
              <option value="Tardes">Tardes</option>
              <option value="Completa">Completa</option>
            </select>              </mat-form-field>

          Estado:
          <mat-form-field appearance="outline">
            <select matNativeControl #select formControlName="estado">
              <option value="validado">Validado</option>
              <option value="pendiente">Pendiente</option>
              <option value="descartado">Descartado</option>
            </select>
          </mat-form-field>

          Valoracion:
          <mat-form-field appearance="outline">
            <input matInput placeholder="valoracion" formControlName="valoracion" />
          </mat-form-field>
        </p>

          <a>Datos Contacto</a>

          <p>Telefono:
          <mat-form-field appearance="outline">
            <input matInput placeholder="telefono" formControlName="telefono" />
          </mat-form-field>

          Correo:
          <mat-form-field appearance="outline">
            <input matInput placeholder="correo" formControlName="correo" />
          </mat-form-field>

          Direccion:
          <mat-form-field appearance="outline">
            <input matInput placeholder="direccion" formControlName="direccion" />
          </mat-form-field>
        </p>
          <button mat-raised-button class="create-button" type="submit">Crear Experto</button>
        </form>
  </div>
